body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main-container {
  padding: 50px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  width: 80%;
  margin: auto;
}

.button-container {
  width: 80%;
  margin: auto;
}

.input-container {
  width: 80%;
  margin: 10px auto;
}

h3 {
  width: 80%;
  margin: 10px auto;
}